*.png
*.pdf
Untitled*
*.hipo.root
*.ipynb_checkpoints/
*0.root
*1.root
*2.root
*3.root
*4.root
*5.root
*6.root
*7.root
*8.root
*9.root
*.root.root
*_All.root
Data_Files/Double_Pion_Channel_eppippim/Inbending/Other_Mom_Cor_File_Creation_eppippim_In_SF.sh
Data_Files/Single_Pion_Channel_epipN/Outbending/Other_Mom_Cor_File_Creation_epipX_Out_SF.sh
Data_Files/Event_Selection_Files/*
Momentum_Corrections_Github_Missing_Mass_Only.ipynb
Data_Files/Only_Electron_Channel/Inbending/Spring2019_Pass2/sbatch_Mom_Cor_File_Creation_EO_Pass2_In_Central.sh
Data_Files/Only_Electron_Channel/Inbending/Spring2019_Pass2/sbatch_Mom_Cor_File_Creation_EO_Pass2_In_Forward.sh
Data_Files/Only_Electron_Channel/Inbending/Spring2019_Pass2/submit_all_to_sbatch.sh
Data_Files/Only_Electron_Channel/Pass2/Inbending/Link_to_Single_Pion
Data_Files/Only_Electron_Channel/Pass2/Outbending/Link_to_Single_Pion
Data_Files/Pi0_Channel_eppi0/Inbending/Mom_Cor_File_Creation_eppi0_In.sh
Data_Files/Pi0_Channel_eppi0/Inbending/Simulated_Pi0/Pi0_Channel_epX_Inbending_With_Dp_MC_Testing_Normal_VTesting_Delete.root
Data_Files/Pi0_Channel_eppi0/Inbending/Simulated_Pi0/Pi0_Channel_epX_Inbending_With_Dp_MC_Testing_Normal_VTesting_Delete_New.root
Data_Files/Single_Pion_Channel_epipN/Pass2/Inbending/Link_to_Only_Electron
Data_Files/Single_Pion_Channel_epipN/Pass2/Outbending/Link_to_Only_Electron
Data_Files/Spring_2019_epipN/Pass2/sbatch_Mom_Cor_Files_SP_In_Pass2_Central.sh
Data_Files/Spring_2019_epipN/Pass2/sbatch_Mom_Cor_Files_SP_In_Pass2_Forward.sh
Data_Files/Spring_2019_epipN/Pass2/submit_all_to_sbatch.sh
Data_Files/__pycache__/
Run_With_Python/__pycache__/
Test_Notebook.ipynb
__pycache__/
Data_Files/Monte_Carlo_SIDIS/Pass2/Simulated_Single_Pion_Channel_epipX_Inbending_With_Dp_Fa18_P2_MC_V3_File_Incomplete.root

